//
   Created by kmj on 2016-11-11.

//
   Created by kmj on 2016-11-10.
extends ../layout
block content
    div(id = 'page-wrapper')
        div(id='right')
            h2 Job Menu
            h3 #{q}
            br
            h4 select job
            select(class='form-control', id='select')
                each jobName in jobList
                    option(value=jobName) #{jobName.replace(/\_/g, " ")}
            br
            h4 select query
            li
                span(class= 'glyphicon glyphicon-question-sign test', data-toggle="tooltip", data-placement="bottom", title="선택한 직무를 채용하는 기업의 목록을 보여줍니다")
                button(type='button', class='btn btn-primary btn-lg btn-block', onclick='bt1Click();') 이 직무를 채용하는 기업은?
                span(class= 'glyphicon glyphicon-question-sign test', data-toggle="tooltip", data-placement="bottom", title="직무를 지원하기 위해서 필요한 구체적인 능력을 보여줍니다")
                button(type='button', class='btn btn-primary btn-lg btn-block', onclick='bt2Click();') 이 직무를 지원하기 위해 필요한 능력 단위는?
                //button(type='button', class='btn btn-primary btn-lg btn-block', onclick='bt3Click();') 같은 산업 분야 직무
                span(class= 'glyphicon glyphicon-question-sign test', data-toggle="tooltip", data-placement="bottom", title="직무를 지원할 때 필요한 역량을 보여줍니다")
                button(type='button', class='btn btn-primary btn-lg btn-block', onclick='bt4Click();') 이 직무를 지원하기 위해 필요한 역량은?
                span(class= 'glyphicon glyphicon-question-sign test', data-toggle="tooltip", data-placement="bottom", title="직무를 지원할 때 수강하면 좋은 과목을 보여줍니다")
                button(type='button', class='btn btn-primary btn-lg btn-block', onclick='bt5Click();') 이 직무를 지원하기 위해 추천되는 과목은?
            script.
                function bt1Click() {
                    var selectedJob = $('#select').val();
                    location.href = '/job/company/' + selectedJob;
                }
                function bt2Click() {
                    var selectedJob = $('#select').val();
                    location.href = '/job/abilityU/' + selectedJob;
                }
                function bt3Click() {
                    var selectedJob = $('#select').val();
                    location.href = '/job/industry/' + selectedJob;
                }
                function bt4Click() {
                    var selectedJob = $('#select').val();
                    location.href = '/job/skill/' + selectedJob;
                }
                function bt5Click() {
                    var selectedJob = $('#select').val();
                    location.href = '/job/subject/' + selectedJob;
                }
                $(document).ready(function () {
                    $('[data-toggle="tooltip"]').tooltip();
                });
            h4 query results
            table(class='table table-hover')
                thead
                    tr
                        td #
                        td Results
                tbody
                    -var i = 1;
                    each result in results
                        tr
                            td=i++
                            td=result.replace(/\_/g, " ")
                    //results table -- add if results!=null
            h4 description
            div(id='description')
                p whole job list
                //description

        div(id='left')
            block cytoscape
